@charset 'utf-8';
@import './reset';
@import './delayload';

.header {
    position: relative;
    height: 3.6rem;
    background: #333;
}
.header-sketch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #999;
    text-transform: uppercase;
    line-height: 1;
    h1 {
        font-size: .24rem;
    }
    p {
        margin-top: .24rem;
        font-size: .14rem;
        color: #666;
    }
}

.delayload {
    display: flex;
    flex-wrap: wrap;
    padding: .12rem;
}
.delayload-item {
    flex: 24% 0 0;
    margin: .5%;
    height: 2.4rem;
    filter: saturate(0%);
    transition: all .3s ease-out;
    background-size: cover;
    border: 4px solid #ccc;
    opacity: 0;
    &:hover, &.light {
        filter: saturate(100%);
    }
}

@media screen and (max-width: 480px) {

    .header {
        position: relative;
        height: 100vh;
        background: #333;
    }
    .delayload {
        display: flex;
        flex-wrap: wrap;
        padding: .06rem;
    }
    .delayload-item {
        flex: 48% 0 0;
        margin: 1%;
        height: 1.2rem;
        &:active {
            filter: saturate(100%);
        }
    }
}
